<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Trabajo práctico Heroes </title>
</head>
<body>
  <center> <h1>Heroes</h1> </center>
   <img src="/img/babbage.jpg" alt="Babbage" width="187px" height="180px">
   <img src="/img/turing.jpg" alt="Turing" width="187px" height="180px" >
   <img src="/img/lovelace.jpg" alt="Lovelace" width="187px" height="180px">
   <img src="/img/hopper.jpg" alt="Hopper" width="187px" height="180px">
   <img src="/img/hamilton.jpg" alt="Hamilton" width="187px" height="180px" >
   <img src="/img/clarke.jpg" alt="Clarke" width="187px" height="180px"> 
   <img src="/img/berners-lee.jpg" alt="Berners-Lee" width="187px" height="180px">

</body>
</html>